{% extends "base.html" %}

{% block bodycontent %}



    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-7">
                {% if total %}
                <h3><span class="badge" style="
    color: var(--bs-emphasis-color); background-color: var(--bs-secondary-bg);">всего за всё время: {{ total if total is not none}}</span></h3>
                {% endif %}
              </div>
          
              <div class="col-3 offset-md-2">
                <a href="/payments/create" 
                class="btn beeb-submit-button-large">
                    внести платёж
                </a>
              </div>




<div class="container-fluid" id="list_payments">
    <div class="row justify-content-lg-center my-1">
        <div class="col-lg-11">

        
        
        </div>


        <div class="col-lg-1">
            
        </div>
    </div>
</div>



<table class="table table-hover">
    <tr>
        <th>название</th>
        <th>сумма</th>
        <th>категория</th>
        <th>дата</th>
        <th>расход</th>
        <th> </th>
        <th> </th>
      </tr>


{% for payment in payments %}
<tr>
    <td scope="row">{{ payment.name.title() }}</td>
    <td>{{ payment.price_in_rub }}</td>
    <td>{{ payment.category}} </td>
    <td>{{ payment.date }} </td>
    <td>
        {% if not payment.is_spending  %}
        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox"
            class="beeb-input">
        {% else %}
        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox" checked
        class="beeb-input">
        {% endif %}
    </td>
    <td><a href="/payments/update/{{payment.id}}" ><i class="material-icons">✏️</i></a></td>

    <form action="/payments/delete/{{payment.id}}" method="post">
    <td><button class="beeb-delete-button"><i class="material-icons" style="color: var(--bs-body-color);">delete</i></button></td>
    </form>
</tr>
{% endfor %}
</table>






{% endblock %}