{% extends "base.html" %}

{% block bodycontent %}



    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-7">
                {% if total %}
                <h3><span class="badge" style="
    color: var(--bs-emphasis-color); background-color: var(--bs-secondary-bg);">всего за всё время: {{ total if total is not none}}</span></h3>
                {% endif %}
              </div>
          
              <div class="col-3 offset-md-2">
                <a href="/payments/create" 
                class="btn beeb-submit-button-large">
                    добавить
                </a>
              </div>




<div class="container-fluid" id="list_payments">
    <div class="row justify-content-lg-center my-1">
        <div class="col-lg-11">

        
        
        </div>


        <div class="col-lg-1">
            
        </div>
    </div>
</div>



<table class="table table-hover" style="text-align: center; vertical-align: middle;">
    <tr>
        <th>имя</th>
        <th>сумма</th>
        <th>категория</th>
        <th>дата</th>
        <th>расход</th>
        <th> </th>
        <th> </th>
      </tr>


{% for payment in payments %}
<tr>
    <td scope="row">{{ payment.name }}</td>
    <td>{{ payment.price_in_rub }}</td>
    {% if payment.category == 'продукты' %}
        <td>
            <h5><span class="badge" style="
            color: var(--bs-emphasis-color); background-color: var(--bs-secondary-bg);">{{payment.category}}</span></h5> 
        </td>
    {% elif payment.category == 'лишнее' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-danger-text-emphasis);">{{payment.category}}</span></h5> 
    </td>
    {% elif payment.category == 'озон' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-primary-text-emphasis);">{{payment.category}}</span></h5> 
    </td>
    {% elif payment.category == 'такси' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-warning-text-emphasis);">{{payment.category}}</span></h5> 
    </td>
    {% elif payment.category == 'квартплата' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-tertiary-bg);">{{payment.category}}</span></h5> 
    </td>

    {% elif payment.category == 'электричество' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-form-valid-color);">{{payment.category}}</span></h5> 
    </td>

    {% elif payment.category == 'одежда' %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-secondary-text-emphasis);">{{payment.category}}</span></h5> 
    </td>

    {% else %}
    <td>
        <h5><span class="badge" style="
        color: var(--bs-emphasis-color); background-color: var(--bs-tertiary-color);">{{payment.category}}</span></h5> 
    </td>

    {% endif %}
    
    <td>{{ payment.date }} </td>
    <td>
        {% if not payment.is_spending  %}
        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox"
            class="beeb-input" disabled>
        {% else %}
        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox" checked
        class="beeb-input" disabled>
        {% endif %}
    </td>
    <td><a href="/payments/update/{{payment.id}}" ><i class="material-icons">✏️</i></a></td>

    <form action="/payments/delete/{{payment.id}}" method="post">
    <td><button class="beeb-delete-button"><i class="material-icons" style="color: var(--bs-body-color);">delete</i></button></td>
    </form>
</tr>
{% endfor %}
</table>






{% endblock %}