{% extends "base.html" %}
{% include 'navbar_horizontal.html' %}

{% block bodycontent %}

<form action="/payments/update/{{payment.id}}" method="post">
    <fieldset>
        <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-center my-4 p-2">
                    <div class="col-lg-4 justify-content-center">
                        <div class="card" style="border-radius: .80rem; background-color: var(--bs-secondary-bg) !important; border: 2px solid; border-color: var(--bs-secondary-text-emphasis);">
                            <div class="card-body" id="my_card_body"style="background-color: var(--bs-secondary-bg); border-radius: 20px; overflow: hidden;">
                                <div class="row align-items-center justify-content-sm-center my-1 p-2">
                                    <div class="col-xs-2 justify-content-center align-items-*-center">
                                        <legend style="text-align: center;">
                                            Расход №{{payment.id}}
                                        </legend> 
                                    </div>
                                <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        <input name="name" id="name" type="text" placeholder="name"
                                        value="{{ payment.name or '' }}" class="beeb-input w-100">
                                    </div>
                                </div>
                                <div class="row justify-content-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        <input name="price" id="price" type="text" placeholder="сумма"
                                        value="{{ (payment.price|round(2)|string)[:-2] }}" class="beeb-input w-100">
                                    </div> 
                                </div>
                                <div class="row justify-content-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        <select id="category" name="category" type="text" placeholder="категория"
                                        style="background-color: rgba(222, 226, 230, 0.75);
                                        text-align: center; 
                                        width: 100% !important; 
                                         ">
                                            {% for option in options %}
                                                <option value="{{ option }}" 
                                                {% if value == payment.category %} selected="selected" {% endif %}
                                                >{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                </div>
                                <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        <input name="date" id="date" type="text" placeholder="date"
                                        value="{{ payment.date or '' }}" class="beeb-input w-100">
                                    </div>
                                </div>

                                <div class="row justify-content-center my-1 p-2">
                                    <div class="col justify-content-center" style="text-align:center !important";>
                                     <label class="form-check-label" for="form-check-input">расход</label>
                                        {% if not payment.is_spending  %}
                                        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox"
                                            class="beeb-input">
                                        {% else %}
                                        <input class=form-check-input name="is_spending" id="is_spending" type="checkbox" checked
                                        class="beeb-input">
                                        {% endif %}
                                    </div> 
                                </div>
                                


                                <div class="row align-items-center justify-content-center my-1 p-2">
                                    <div class="col-12 justify-content-center align-items-xs-center">
                                    <button type="submit" class="btn beeb-submit-button-large">Сохранить</button>
                                    </div>
                                </div> 
                            </div>
                        </div>

                    </div>
        </div>       
    </fieldset>
</form>

{% endblock %}

