{% extends "base.html" %}

{% block bodycontent %}


<form action="/payments/update/{{payment.id}}" method="post">
    <fieldset>
        <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-center my-4 p-2">
                    <div class="col-lg-4 justify-content-center">
                            <div class="card" style="border-radius: .80rem; background-color:#3c4055; border: 2px solid; border-color: #a7acb1">
                            <div class="card-body" id="my_card_body"style="background-color:#3c4055; border-radius: 20px; overflow: hidden;">
                                <div class="row align-items-center justify-content-sm-center my-1 p-2">
                                    <div class="col-xs-2 justify-content-center align-items-*-center">
                                        <legend style="text-align: center;">
                                            Расход №{{payment.id}}
                                        </legend> 
                                    </div>
                                <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        {% if form_disabled %}
                                        <input name="name" id="name" type="text" placeholder="name"
                                        value="{{ payment.name.title() or '' }}" disabled class="beeb-input ">
                                        {% else %}
                                        <input name="name" id="name" type="text" placeholder="name"
                                        value="{{ payment.name.title() or '' }}" class="beeb-input ">
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row justify-content-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        {% if form_disabled %}
                                        <input name="price" id="price" type="text" placeholder="стоимость"
                                        value="{{ payment.price_in_rub or '' }}" disabled class="beeb-input">
                                        {% else %}
                                        <input name="price" id="price" type="text" placeholder="стоимость"
                                        value="{{ payment.price_in_rub or '' }}" class="beeb-input">
                                        {% endif %}
                                    </div> 
                                </div>
                                <div class="row justify-content-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        {% if form_disabled %}
                                        <input name="category" id="category" type="text" placeholder="категория"
                                        value="{{ payment.category or '' }}" disabled class="beeb-input">
                                        {% else %}
                                        <select id="category" name="category" type="text" placeholder="категория"
                                         class="beeb-input">
                                            {% for option in options %}
                                                <option value="{{ option }}" 
                                                {% if value == payment.category %} selected="selected" {% endif %}
                                                >{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        {% endif %}
                                    </div> 
                                </div>
                                <div class="row align-items-center justify-content-center my-1 p-2">
                                    <div class="col-12 justify-content-center align-items-xs-center">
                                        {% if form_disabled %}
                                        <a href="/payments/update/{{payment.id}}" class="btn beeb-submit-button" style="display: block;
            width: 100%;">✏️ отредактировать</a>
                                        {% else %}
        
                                        <button 
                                        type="submit" 
                               
                                        class="btn beeb-submit-button"
                                        >OK
                                    </button>
                                        {% endif %}
                          
                                    </div>
                                </div>
                                {% if form_disabled %}
                                <div class="row align-items-center justify-content-center my-1 p-2">
                                    <div class="col-12 justify-content-center align-items-xs-center">
                                        <a href="/payments/create" class="btn beeb-add-button" style="display: block;
            width: 100%;">➕ добавить</a>
                                    </div> 
                                </div>
</form>
<form id="delete_payment" action="/payments/delete/{{payment.id}}" method="post">
    <div class="row align-items-center justify-content-center my-1 p-2">
        <div class="col-12 justify-content-center align-items-xs-center">
          <button 
          hx-get={{ URLS.delete_payment  }} 
          hx-target="#modals-here" 
          hx-trigger="click" 
          hx-push-url="false"
          data-bs-toggle="modal"
          data-bs-target="#modals-here" 
          class="btn beeb-delete-button w-100">➖ удалить</button>
      </div>
        </div> 
    </div>
    

                                {% endif %}
                            </div>
                                </div>
                            </div>
                            </div>
                        </div>
        </div>
    </fieldset>
</form>
<div id="modals-here" class="modal modal-blur fade" style="display: none" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>
{% endblock %}

