{% extends "base.html" %}
{% include 'navbar_horizontal.html' %}

{% block bodycontent %}




    <div class="container-fluid">
        <div class="row my-2">

              <div class="col-6">
                <button onclick="location.href='{{ create_non_food }}'" class="btn beeb-submit-button-large">вещь<br></button>

              </div>
                <div class="col-6">
             <button onclick="location.href='{{ create_food }}'" class="btn beeb-submit-button-large">еда</button>

              </div>

{% endblock %}