<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <h1>{{ header_text }}</h1>
  </a>

</header>



<script src=
"https://d3js.org/d3.v4.min.js"></script>
<script src=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet"
      href=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
<link rel=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      type="text/css" />
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
</script>




<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">

          <table class="table table-hover">
            <tr>
              <th>сумма на счету</th>
              <th>расход в день</th>
              <th>осталось дней</th>
            </tr>
            <tr>
              <td>{{ available_amount_frontend if available_amount_frontend is not none }}</td>
              <td>{{ total_per_day if total_per_day is not none }}</td>
              <td>{{ days_left if days_left is not none }}</td>
            </tr>
          </table>


          <table class="table table-hover">
            <tr>
              <th>категория</th>
              <th>процент</th>
              <th>сумма</th>
            </tr>
            {% for record in total_shares %}
            <tr>
                <td scope="row">{{ record[1][0] }}</td>
                  <td>{{ record[0] }}</td>
                  <td>{{ record[1][1] }}</td>
            </tr>
            {% endfor %}
          </table>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title" align="center">по категориям</h6>
        <div class="card-text" id="donut-chart"></div>
      </div>
    </div>
  </div>
</div>







    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      const shares = {{ total_shares|tojson }};
      const mycolumns = shares.map(item => [item[1][0], item[0]]);

      let chart = bb.generate({
          data: {
            columns: mycolumns,
              type: "donut",
              onclick: function (d, i) {
                  console.log("onclick", d, i);
              },
              onover: function (d, i) {
                  console.log("onover", d, i);
              },
              onout: function (d, i) {
                  console.log("onout", d, i);
              },
          },
          bindto: "#donut-chart",
      });
  </script>
