


<script src=
"https://d3js.org/d3.v4.min.js"></script>
<script src=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet"
      href=
"https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
<link rel=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
      type="text/css" />
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
</script>
<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>
 
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
</script>



<div class="container-fluid">
  <div class="row">
    {% if current_month %}
      <div class="col">
        <div class="card rounded-0">
          <div class="card-body">
            <div class="row">
              <table class="table table-hover">
                  <tr>
                    <th>приход</th>
                    <th>расход</th>
                    <th>сумма на счету</th>
                    <th>расход в день</th>
                    <th>осталось до</th>
                  </tr>
                  <tr>
                    <td>{{ total_income }}</td>
                    <td>{{ total_spending }}</td>
                    <td>{{ available_amount_frontend if available_amount_frontend is not none }}</td>
                    <td>{{ rate_per_day if rate_per_day is not none }}</td>
                    <td>{{ days_left if days_left is not none }}</td> 
                  </tr>
              </table>
          </div>
        </div>
      </div>
    {% else %}
    <div class="col-sm-4 mt-2">
        <div class="card rounded-0">
          <div class="card-body">
            <div class="row">
              <table class="table table-hover">
                  <tr>
                    <th>приход</th>
                    <th>расход</th>
                    <th>расход в день</th>
                  </tr>
                  <tr>
                    <td>{{ total_income }}</td>
                    <td>{{ total_spending }}</td>
                    <td>{{ rate_per_day if rate_per_day is not none }}</td>
                  </tr>
              </table>
          </div>
        </div>
      </div>
    {% endif %} 
  </div> 

  <div class="row">
    <div class="col-sm-6 mt-2">
      <div class="card rounded-0">
        <div class="card-body">
            <table class="table table-hover">
              <tr>
                <th>категория</th>
                <th>процент</th>
                <th>сумма</th>
              </tr>
              {% for record in total_shares %}
              <tr>
                  <td scope="row">{{ record[1][0] }}</td>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1][1] }}</td>
              </tr>
              {% endfor %}
            </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-2">
      <div class="card rounded-0">
        <div class="card-body">
          <div class="card-text" id="donut-chart"></div>
        </div>
      </div>
    </div>









    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      const shares = {{ total_shares|tojson }};
      const mycolumns = shares.map(item => [item[1][0], item[0]]);

      let chart = bb.generate({
          data: {
            columns: mycolumns,
              type: "donut",
              onclick: function (d, i) {
                  console.log("onclick", d, i);
              },
              onover: function (d, i) {
                  console.log("onover", d, i);
              },
              onout: function (d, i) {
                  console.log("onout", d, i);
              },
          },
          bindto: "#donut-chart",
      });
  </script>
</div>