{% extends "base.html" %}

{% block bodycontent %}


<div class="container-fluid" id="list_expenses">
    <div class="row justify-content-lg-center my-1">
        <div class="col-lg-11">
            {% if total %}
            ВСЕГО: {{ total if total is not none}}
            {% endif %}</div>
        <div class="col-lg-1">
            <a href="/expenses/create" class="btn beeb-secondary-button float-right" >➕</a>
        </div>
    </div>

<table class="table table-hover">

{% for expense in expenses %}
<tr>
    <td scope="row">{{ expense.name.title() }}</td>
    <td>{{ expense.price_in_rub }}</td>
    <td><a href="/expenses/{{expense.id}}"><i class="material-icons">👁️</i></a></td>
</tr>
{% endfor %}
</table>

{% endblock %}