{% extends "base.html" %}

{% block bodycontent %}

<form action="/expenses" method="get">
    <fieldset>
        <legend>
            Расход №{{expense.id}}
            <a href="/expenses/create" class="btn beeb-secondary-button" >➕</a>
        </legend> 

        <br>
                <input name="name" id="name" type="text" placeholder="name"
                    value="{{ expense.name.title() or '' }}" disabled class="beeb-input"> <br>
                <input name="price" id="price" type="text" placeholder="стоимость"
                    value="{{ expense.price_in_rub or '' }}" disabled class="beeb-input"> <br>
        </div>
    </fieldset>
</form>

{% endblock %}

