{% extends "base.html" %}

{% block bodycontent %}
<div class="form-group">
    <form method="post" enctype="multipart/form-data" action="{{ form_action }}">
    
            <div class="container-fluid">
                    <div class="row align-items-center justify-content-lg-center my-4 p-2">
                        <div class="col-lg-4 justify-content-center">
                                <div class="card">
                                <div class="card-body" id="my_card_body">
                                    <div class="row align-items-center justify-content-sm-center my-1 p-2">
                                        <div class="col-xs-2 justify-content-center align-items-*-center">
                                            <legend style="text-align: center;">
                                                Создать категорию
                                            </legend> 
                                        </div>
                                    <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                        <div class="col justify-content-center">
                                            <input name="name" id="name" type="text" placeholder="название"
                                             class="beeb-input w-100">
                                        </div>
                                    </div>
                                    <div class="row align-items-center justify-content-center my-1 p-2">
                                        <div class="col-12 justify-content-center align-items-xs-center">
                                    
                                            <button 
                                            type="submit" 
                                   
                                            class="btn beeb-submit-button-large"
                                            >Сохранить
                                        </button>
        
                                        </div>
                                    </div>
                                    
                                    
                                  </form> 
                                </div>
                              </div>

{% endblock %}

