{% extends "base.html" %}
{% include 'navbar_horizontal.html' %}

{% block bodycontent %}


<div class="container-fluid" id="list_payments">
    <div class="row my-2">
    
        <div class="col-12">
                   <a href="{{ create }}" 
                class="btn beeb-submit-button-large">
                    Добавить
                </a>
        </div>
    </div>
</div>

<div class="container-fluid my-2">
    <table class="table table-hover" style="text-align: center; vertical-align: middle;">
        <tr>
            <th>имя</th>
            <th>статус</th>
            <th> </th>
        </tr>
        {% for category in categories %}
        <tr>
            <td>{{ category.name }}</td>
            {% if category.is_active == true %}
                <td>
                <h4><span class="badge" style="
            color: var(--bs-emphasis-color); background-color: #59B8A0;">активна</span></h4>
                </td>
            {% else %}
                <td>
                <h4><span class="badge" style="
                    color: var(--bs-emphasis-color); background-color: var(--bs-secondary-text-emphasis);">устарела</span></h4>
                </td>
            {% endif %}
            <td><a href="{{ update }}/{{category.id}}"><i class="material-icons">✏️</i></a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

