{% extends "base.html" %}
{% include 'navbar_horizontal.html' %}

{% block bodycontent %}<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/css/bootstrap5-toggle.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@5.1.1/js/bootstrap5-toggle.ecmas.min.js"></script>

<form action="{{ update }}/{{category.id}}" method="post">
    <fieldset>
        <div class="container-fluid">
                <div class="row align-items-center justify-content-lg-center my-4 p-2">
                    <div class="col-lg-4 justify-content-center">
                            <div class="card" style="border-radius: .80rem; background-color: var(--bs-secondary-bg); border: 2px solid; border-color: var(--bs-secondary-text-emphasis)">
                            <div class="card-body" id="my_card_body"style="background-color: var(--bs-secondary-bg); border-radius: 20px; overflow: hidden;">
                                <div class="row align-items-center justify-content-sm-center my-1 p-2">
                                    <div class="col-xs-2 justify-content-center align-items-*-center">
                                        <legend style="text-align: center;">
                                            Категория №{{category.id}}
                                        </legend> 
                                    </div>
                                <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                    <div class="col justify-content-center">
                                        <input name="name" id="name" type="text" placeholder="имя"
                                        value="{{ category.name or '' }}" class="beeb-input w-100">
                             
                                    </div>
                                </div>
                                
                                <div class="row align-items-center justify-content-lg-center my-1 p-2">
                                    <div class="col justify-content-center" style="text-align:center !important";>

                                        {% if category.is_active %}
                                        <style>
                                            .toggle.android { border-radius: 0px;}
                                            .toggle.android .toggle-handle { border-radius: 0px; }
                                    </style>
                                    <input type="checkbox" checked name="is_spending" id="is_spending" data-toggle="toggle" data-style="android" data-onlabel="вкл" data-offlabel="выкл" data-onstyle="outline-success" data-offstyle="outline-primary">  

                
                                        {% else %}
                                    <input type="checkbox" name="is_spending" id="is_spending" data-toggle="toggle" data-style="android" data-onlabel="вкл" data-offlabel="выкл" data-onstyle="outline-success" data-offstyle="outline-primary">  

                                        {% endif %}

                                    </div>
                                </div>
                                
                    
                                <div class="row align-items-center justify-content-center my-1 p-2">
                                    <div class="col-12 justify-content-center align-items-xs-center">
                                        <button 
                                        type="submit" 
                                        class="btn beeb-submit-button-large"
                                        >Сохранить
                                        </button>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>
                            </div>
                        </div>
        </div>
    </fieldset>
</form>


{% endblock %}

