
input[type=checkbox]:not(:checked){
 content: " ";
 background-color: rgba(222, 226, 230, 0.5);
 border-color: #ffc000;
 display: inline-block;
 visibility: visible;
}

input[type=checkbox]:checked{
    background-color: #37bd74 !important;
    border-color: #0cca91a5;
}