
input[type=checkbox]:not(:checked){
 content: " ";
 background-color: var(--bs-secondary-color);
 border-color: var(--bs-secondary-text-emphasis);
 display: inline-block;
 visibility: visible;
}

input[type=checkbox]:checked{
    background-color: var(--bs-success-text-emphasis) !important;
    border-color: var(--bs-success-text-emphasis);
}