
.beeb-input{
    background-color: var(--bs-secondary-color);
    text-align: center;
  }
  .beeb-input:disabled{
    color: var(--bs-emphasis-color);
    text-align: center;
  }

  .select {
    background-color: var(--bs-secondary-color);
    text-align: center; 
    width: 300px !important; 
    min-width: 300px !important; 
    max-width: 300px !important; 
  }


  .beeb-input-create{
    background-color: var(--bs-secondary-color);
    text-align: center;
  }
  .beeb-input-create:disabled{
    color: var (--bs-emphasis-color);
    text-align: center;
  }
  