
.beeb-delete-button {
    background-color: #ee6695;
    border-color: #ee6695;
    color: black;
    display: block;
  }

  .beeb-delete-button:hover {
    background-color: #e8286b;
    border-color: #e8286b;
    color: black;
  }

  