{% extends "base.html" %}

{% block bodycontent %}
<div class="container-fluid">
        <ul class="nav flex-column my-1" style="float: right !important;">
            <li class="nav-item my-1">
                <a href="/payments/create" 
                class="btn beeb-submit-button" 
                style="color: #191919d6 !important; margin-left:45px !important;width:auto">
                    внести платёж
                </a>
            </li>
            <li class="nav-item my-1">
                {% if total %}
                <h3><span class="badge bg-secondary me-5" style="
        color: #191919d6 !important; margin-left:45px !important;width:auto"> всего: {{ total if total is not none}}</span></h3>
                {% endif %}
            </li>
        </ul>
    </div>
</div>



<div class="container-fluid" id="list_payments">
    <div class="row justify-content-lg-center my-1">
        <div class="col-lg-11">

        
        
        </div>


        <div class="col-lg-1">
            
        </div>
    </div>
</div>



<table class="table table-hover">
    <tr>
        <th>название</th>
        <th>сумма</th>
        <th>категория</th>
        <th>дата</th>
        <th> </th>
        <th> </th>
      </tr>


{% for payment in payments %}
<tr>
    <td scope="row">{{ payment.name.title() }}</td>
    <td>{{ payment.price_in_rub }}</td>
    <td>{{ payment.category}} </td>
    <td>{{ payment.date }} </td>
    <td><a href="/payments/update/{{payment.id}}" class="btn beeb-secondary-button"><i class="material-icons" style="color: #191919d6 !important">edit</i></a></td>
    <form action="/payments/delete/{{payment.id}}" method="post">
    <td><button class="btn beeb-delete-button"><i class="material-icons" style="color: #191919d6 !important">delete</i></button></td>
    </form>
</tr>
{% endfor %}
</table>





<div class="footer">
    <div class="container-fluid">
        <div class="row my-4 p-2">
            <div class="col-7">
                
              </div>
          
              <div class="col-3 offset-md-1">
                
              </div>

    </div>
{% endblock %}