
.beeb-delete-button {
  background-color: var(--bs-body-bg);
  border-color: var(--bs-body-bg);
  }

  .beeb-delete-button:hover {
    background-color: var(--bs-danger-text-emphasis);
    border-color: var(--bs-danger-text-emphasis);
  }

  