<!DOCTYPE html>
<html lang="en" data-bs-theme="beeb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/input.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/delete_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/submit_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/secondary_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/add_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/close_modal.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/checkbox.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/nav_link.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/table.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/card.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    

    <link href="/static/css/beeb_css/material_icons.css" rel="stylesheet">
    <script src="/js/htmx.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap/bootstrap.js" crossorigin="anonymous"></script>
    <title>beeb</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
</head>

<body>
    <style>
         * {
      font-family: garamond;
    }
</style>

{% block body %}
    {% if exception %}
        {% include 'exception.html' %}
    {% else %}
    {% include 'navbar_horizontal.html' %}
        {% block bodycontent %}
        {% endblock %}
    {% endif %}
{% endblock %}
</body>

</html>