<!DOCTYPE html>
<html lang="en" data-bs-theme="beeb">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/delete_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/add_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/close_modal.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="/static/css/material_icons.css" rel="stylesheet">
    <script src="/js/htmx.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap/bootstrap.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/charts/chart-2/assets/css/chart-2.css"
    <title>beeb</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
</head>

<body>
{% block body %}
    {% if exception %}
        {% include 'exception.html' %}
    {% else %}
        {% block bodycontent %}
        {% endblock %}
    {% endif %}
{% endblock %}
</body>

</html>