<!DOCTYPE html>
<html lang="en" data-bs-theme="beeb">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/input.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/delete_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/submit_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/secondary_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/add_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/close_modal.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/checkbox.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/nav_link.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="/static/css/beeb_css/material_icons.css" rel="stylesheet">
    <script src="/js/htmx.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap/bootstrap.js" crossorigin="anonymous"></script>
    <title>beeb</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
</head>

<!-- Здесь нав: меню уровень 0. Приложения: Деньги -->
<nav>
  <div class="nav nav-tabs" id="nav-tab-level-0" role="tablist">
    <button class="nav-link active" id="nav-money-tab" data-bs-toggle="tab" data-bs-target="#nav-money" type="button" role="tab">Деньги</button>
  </div>
</nav>
<!-- Здесь дивы уровень 0. Пункты: Деньги  -->
<div class="tab-content" id="nav-tab-level-0Content">
  <div class="tab-pane fade show active" id="nav-money" role="tabpanel">
    <!-- Здесь нав меню уровень 1. Компоненты приложения Деньги: Учёт, Статистика -->
    <nav>
        <div class="nav nav-tabs" id="nav-tab-level-1" role="tablist">
            <button class="nav-link active" id="nav-accounting-tab" data-bs-toggle="tab" data-bs-target="#nav-accounting" type="button" role="tab">Учёт</button>
            <button class="nav-link" id="nav-dashboard-tab" data-bs-toggle="tab" data-bs-target="#nav-dashboard" type="button" role="tab">Статистика</button>
        </div>
    </nav>
    <!-- Здесь дивы: меню уровень 1. Пункты Учёт, Статистика -->
    <div class="tab-content" id="nav-tab-level-1Content">
        <div class="tab-pane fade show active" id="nav-accounting" role="tabpanel">
            <!-- Здесь нав: меню уровень 2. Пункт: Учёт -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab-level-2" role="tablist">
                    <button class="nav-link active" id="nav-accounting-table-tab" data-bs-toggle="tab" data-bs-target="#nav-accounting-table" type="button" role="tab">Бюджет</button>
                    <button class="nav-link" id="nav-categories-tab" data-bs-toggle="tab" data-bs-target="#nav-categories" type="button" role="tab">Категории расходов</button>
                </div>
            </nav>
            <!-- Здесь див: меню уровень 2. Пункты: Бюджет, Категории расходов -->
            <div class="tab-content" id="nav-tab-level-2Content">
                <div class="tab-pane fade show active" id="nav-accounting-table" role="tabpanel">accounting table page goes here</div>
                <div class="tab-pane fade" id="nav-categories" role="tabpanel">categories table goes here</div>
            </div>
        </div>
        <!-- Здесь див: меню уровень 1. Пункт: Статистика -->
        <div class="tab-pane fade" id="nav-dashboard" role="tabpanel">dashboard page here</div>
    </div>
  </div>
</div>
