<!DOCTYPE html>
<html lang="en" data-bs-theme="beeb">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/input.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/delete_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/submit_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/secondary_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/add_button.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/buttons/close_modal.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/checkbox.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/css/beeb_css/nav_link.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <link href="/static/css/beeb_css/material_icons.css" rel="stylesheet">
    <script src="/js/htmx.min.js" crossorigin="anonymous"></script>
    <script src="/js/bootstrap/bootstrap.js" crossorigin="anonymous"></script>
    <title>beeb</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon" />
</head>

<body>
{% block body %}
    {% if exception %}
        {% include 'exception.html' %}
    {% else %}
        {% block bodycontent %}
        {% endblock %}
    {% endif %}
{% endblock %}
</body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div id="navbar" class="container-fluid">
      
        <a class="navbar-brand align-text-middle" href="/payments">
            <img src="/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-middle">
            <b>beeb</b>
        </a>
        <ul>
        {% if not request.path == '/payments' %}
            <li><a href="/payments">платежи</a></li>
        {% else %}
            <li class="active"><a href="/payments">платежи</a></li>
        {% endif %}


        {% if not request.path == '/dashboard' %}
            <li><a href="/dashboard">сводная таблица</a></li>
        {% else %}
            <li class="active"><a href="/dashboard">сводная таблица</a></li>
        {% endif %}

        
        {% if not request.path == '/categories' %}
            <li><a href="/categories">категории</a></li>
        {% else %}
            <li class="active"><a href="/categories">категории</a></li>
        {% endif %}
        </ul>
      </div>
    </div>
</nav>
</html>